@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer components {
  ._text__default {
    @apply text-gray-700 dark:text-gray-300;
  }
  ._text__muted {
    @apply text-gray-500 dark:text-neutral-500;
  }
  ._card {
    @apply bg-white dark:bg-neutral-800 shadow-sm dark:shadow-none shadow-gray-400;
  }
  ._divider {
    @apply border-neutral-200 dark:border-neutral-700;
  }
  ._input {
    @apply bg-gray-100 hover:bg-gray-200 dark:hover:bg-neutral-600 dark:bg-neutral-700 dark:placeholder:text-neutral-400 placeholder:text-gray-600;
  }
  ._hover {
    @apply transition hover:bg-gray-200 dark:hover:bg-neutral-700;
  }
  ._dd__wrapper {
    @apply bg-white dark:bg-neutral-800 absolute top-1 rounded-lg p-3 overflow-y-auto;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
      inset 0 0 0 1px rgba(255, 255, 255, 0.05);
    max-height: calc(100vh - 70px);
  }
}
