@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --border-color: rgb(239, 243, 244);
  --light-gray: rgb(247, 249, 249);
  --theme-color: rgb(29, 155, 240);
  --theme-color-hover: rgb(16, 140, 216);
  --black: rgb(15, 20, 25);
}

._border {
  border-color: var(--border-color);
  border-style: solid;
}

._bg_l-g {
  background-color: var(--light-gray);
}

._text-theme {
  color: var(--theme-color);
}

._bg-theme {
  background-color: var(--theme-color);
}

._hover._bg-theme:hover {
  background-color: var(--theme-color-hover);
}

._bg-black {
  background-color: var(--black);
}

@layer components {
  ._tweet-btn {
    @apply _bg-theme _hover transition text-white flex items-center justify-center rounded-full font-bold cursor-pointer;
  }
}
